body {
	background: none repeat scroll top right #F1F1F1;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header
{
	color: black;
	background-color: grey;
	margin-left: 20px;
  text-align: center;
}

.slider {
	float: left;
	width: 800px;
	height:350px;
	overflow: hidden;
	margin: 30px auto;
}

.slider img{
	width: 800px;
	height: 350px;
	display: none;

}

#content1
{
	float: left;
	margin: 0 2%;
	width: 63%;
	margin-top: 20px;
	margin-left: 10px;
	padding: 10px;
}

#content2
{
	float: left;
	margin: 0 2%;
	width: 63%;
	margin-top: 20px;
	margin-left: 10px;
	padding: 10px;
}

#aboutme
{
	float: right;;
	margin:auto;
	width: 33%;
	height: 2%;
}

#about
{
	float: right;;
	margin: auto;
	width: 33%;
}
/* footer
*********************************************/
footer
{
						background-color: grey;
            width: 100%;
            bottom: 0;
						text-align: center;
            position: absolute;
}
