body {
	background: none repeat scroll top right #FBFBFB;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*
{
    margin:0;
    border:0;
    box-sizing: border-box;
}

.clearfix:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;

}

* html .clearfix
{
    zoom: 1;
} /* IE6 */


header
{
	color: red;

	margin-left: -5px;
  text-align: center;
	right: 0;
  bottom: 0;
  left: 0;
	top: 0;
}
header
{
    background:lightgrey;

}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

#content1
{
	float: left;
	margin: 0 2%;
	width: 55%;
	margin-top: 35px;
	margin-left: -80px;
	padding: 10px;
}

#content3
{
	float: left;
	margin: -50px auto;
	width: 63%;
	margin-bottom: 60px;
	margin-left: -70px;
	padding: -10px;

}

#aboutme
{
	float: right;;
	margin:auto;
	width: 33%;
	margin-top: -300px;
	margin-left: -80px;
	padding: 10px;
	height: 2%;
	background-color: lightgrey;
    width: 500px;
    padding: 25px;
    border: 10px solid #424242;
}

#truncateMe
{

	float:right;
  height: 10%;
	background-color: lightgrey;
    width: 500px;
    padding: 25px;
    border: 10px solid #424242;
    margin: -360px auto;
}


/* added css
*********************************************/
/*============= COMMON CSS ATTRIBUTES ================ */

*:first-child+html .clearfix
{
    zoom: 1;
} /* IE7 */

.wrap
{
      max-width:1200px;
      min-width: 980px;
      margin: 0 auto;
}


p {
    font-size:medium;
}

#logo{
	float: left;
        font-size: 50px;

}
#prim-nav{
	float: right;
        font-size: 23px;
}
#prim-nav ul{
    margin-top: 25px;
}
#prim-nav ul li {
    display: inline-block;
    font-size: 20px;
    margin: 0 5px;
    padding-left: 30px;
}

#prim-nav ul li a:link {
text-decoration: none;
color:black;
}

#prim-nav ul li a:visited {
text-decoration: none;
color:black;
}

#prim-nav ul li a:hover {
text-decoration: none;
color:#ffc000;

}

#prim-nav ul li a:active {
text-decoration: none;
color:#ffc000;
}

.slider
{
    margin-bottom:-1%;
}

footer{
    color: black;
    text-align: center;
    margin-top: 1%;
    position:fixed;
    width:100%;
    bottom: 0px;
    padding-bottom: 10px;
    background:lightgrey;
}


/*============= HOME PAGE ================ */
div#content-home{
    margin-top: 5%;
    width: 80em;

}

div #small-photo{
    width:400px;
    height:330px;
    float:left;
    margin-top: -50px;
    margin-left:10%;
    position:relative;

}
.img-size{
    width:100%;
    margin-top:-85px;
}

/*============= PEOPLE PAGE ================ */
div #title-people{
    padding-left: 50px;
    font-size: large;
    font-weight: bold;
}



/*=====================    IMAGE SLIDER ON HOME PAGE     =========================*/

#wrapper {
	width: 100%;
	min-width: 900px;
	height: 500px;
	position: relative;
	top: 0;
	left: 0;
  margin: 5px 0;

}
#carousel div {
	height: 400px;
	float: left;

}

#carousel img {
	min-width:100%;
	min-height:100%;
        z-index:-1;
}

#contentpara{
  float: center;
	font-size: 30px;
	line-height: 1.7em;
	padding-bottom: 5px;
}
