
#header
{
    float:left;
    width:100%;
    text-align:center;
    position:relative;
}
#path
{
    float:top;
    text-align:right;
    width:100%;
    position:relative;
    font-weight:bold;
    color:black;
}
#tnav
{
    float:left;
    width:100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 1%;
    position: relative ;
    margin-bottom:2%;
    background-color:#EBEBEB;
    font-weight:bold;
}
.count
{
    color: #85B8DA;
}

#head
{
    color: #4C994C;
    padding-left: 2%;
    font-size: x-large;
    width: 70%;
    border : none;
}

.head2
{
    width: 10%;
    border : none;
}
#snav
{
    float:left;
    width:20%;
    margin-right:1%;
    margin-left: 1%;
    font-weight:bold;
    font-size: large;
    position:relative;
    background-color: #D6F3F3;
}

table, th, td {
    border: 2px solid #486899;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}

#noBorder
{
    width: 100%;
}
#main
{
    float:left;
    width:70%;
    height:float;
    text-align:left;
    padding-top:1%;
    padding-bottom:1%;
    border: 2px solid #486899;
    color: black;
    padding-left:1%;
    padding-right:1%;
    margin-bottom:1%;
    margin-left: 2%;
}
#footer
{
    color: white;
    float:right;
    width:100%;
    padding-bottom: 1%;
    padding-top: 1%;
    margin-bottom:2%;
    text-align:center;
    margin-top:2%;
    position:relative;
    background-color:#993333;
    font-size: large;
}

input
{
    background-color:#f28f00; 
    padding: 2px;
    color:black;
    border-color:#f28f00;
    border-radius:5px;
}
input:hover {
    color: #CC0000;
}
#1
{
    width: 50%;
    text-align: left;
}
#2
{
    width:17%;
}
#4
{
    width:17%;
}
#3
{
    width:26%;
}

a:link 
{
    color: black;
    text-decoration:none;
}
a:visited 
{
    color: black;
}

a:hover 
{
    color: #85B8DA;
    text-decoration-line: underline;
    font-style: italic;
}